@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    margin: 0%;
    padding: 0px;
}
.clearfix {
    clear: both;
}
a:visited { 
    text-decoration: none; 
    color: rgb(0, 0, 0); 
   }
.main {
    background-color: rgb(255, 255, 255);
    box-sizing:border-box;
    height: 1150px;
    width: 800px;
    box-shadow:  0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 20px auto;
}
.main:hover {
    transform: translateY(5px);
    box-shadow:  0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
.top-section  {
    background-color: #1C3144;
    text-align: center;
    padding: 20px;

}
.top-section h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    margin: 0;
    margin-top: 10px;
    font-family: 'Outfit', sans-serif;
    text-transform: uppercase;
}
.top-section p {
    color: #779BE7;
    font-size: 23px;
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
}
.col-div-4 {
    width: 35%;
    float: left;
}
.col-div-8 {
    width: 62%;
    float: left;
}
.social {
    font-size: 1rem;
}
.gmail {
    display: flex;
}
.gmail-icon {
    margin-right: 5px;
}
.gmail p {
    margin-top: 1%;
    font-weight: 500;
    font-family: 'News Cycle', sans-serif;
    color: black;
}

.port {
    display: flex;
}
.port-icon {
    margin-right: 10px;
    width: 20px;
}
.port p {
    margin-top: 1%;
    font-weight: 500;
    font-family: 'News Cycle', sans-serif;
}

.line {
    border-left: 1px solid rgb(2, 2, 2);
    height: 850px;
    width: 2%;
    margin-top: 30px;
    float: left;
}
.content-box {
    padding: 20px;
}
.languages h3 {
    text-transform: uppercase;
    font-weight: bold;
}
.skills {
    margin-left: 0;
    margin-bottom: 0px;
}
.skills li {
    padding: 5px;
}
.work {
    margin-bottom: -15px;
}
.education {
    margin-bottom: -10px;
}
.about {
    margin-bottom: -10px;
}
.about-content {
    margin-bottom: -15px;
}
.experience-title {
    margin-bottom: -15px;
}
.education-title {
    margin-bottom: -15px;
}

@media screen and (max-width: 640px) {
.main {
    width: 100vw;
    height: 100%;
}
html {
    padding: 0;
    margin: o;
}
.line {
    height: 1900px;
}
.head {
    font-size: 1.5rem;
}
.skills {
    font-size: 1.3rem;
}
.lang {
    font-size: 1.3rem;
}
.gmail p {
    display: none;
    margin-right: 10%;
}
.port p {
    display: none;
}

}


@media screen and (max-width: 550px) {

.port p {
    display: none;
}
.gmail p {
    display: none;
}
.port {
    margin-left: 15%;
}
.gmail {
    margin-left: 15%;
}
.skill {
    padding-left: 2px;
    font-size: 1.3rem;
}
.skills {
padding-left: 20px;
font-size: 1rem;
}
.languages ul {
    padding-left: 20px;
}
}